 <div class="container">
        <div class="row d-flex">
            <div class="col-12 col-sm-6 col-md-8 d-flex flex-row logos">
                <div class="all-of-us-logo">
                <img src="{{ base_path ~ directory }}/images/custom/all_of_us_logo.png" alt="Logo: All of Us Research Program" class="img-responsive">
                </div>
                <div class="nlm-logo">
                <img src="{{ base_path ~ directory }}/images/custom/nlm.png" alt="Logo: National Institutes of Health, National Library of Medicine, National Network of Libraries of Medicine " class="img-responsive">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex flex-row share">
                <a href="#" target="_blank">Email me this link 
                    <img src="{{ base_path ~ directory }}/images/custom/icons/plus.svg" alt="Graphic: The share icon appears next to text that says, email me this link" class="share-icon">
                </a>
            </div>
        </div>
    </div>